video-list works!
<ul class="collection">
  <li 
  *ngFor="let video of (videoList | async)" 
  [class.active]="video === selectedVideo" (click)="selectVideo(video)"  
  class="collection-item">
    <!-- <abc-video-card [video]="video"></abc-video-card> for navigation, this should be an anchor tag -->
    
    <abc-video-card [video]="video"></abc-video-card> 
  </li>
</ul>

<!-- (click)="playVideo(video)" -->




<div class="card">
  <div class="card-content">
    <div class="card-title">Video List</div>
    <ul class="collection">
      <li
        *ngFor="let video of videoList | async"
        class="collection-item"
        [class.active]="video.id === (selectedVideoId | async)"
      >
        <a [queryParams]="{video: video.id}" [routerLink]="['']">
          <abc-video-card [video]="video"></abc-video-card>
        </a>
      </li>
    </ul>
  </div>
</div>